.detailContainer {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.imageBox {
  width: 100%;
  display: flex;
}

.imageBox > img {
  /* width: 40%; */
  /* margin: auto; */
  /* margin: left; */
}
