@charset 'utf-8';

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
code,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
}
div,
span,
article,
section,
header,
footer,
p,
ul,
li,
fieldset,
legend,
label,
a,
nav,
h1,
h2,
h3 {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  /* object-fit: cover; */
  height: auto;
}

html {
  font-size: 20px;
  font-family: Roboto;
  line-height: 1.6;
}

body {
  color: white;
  /* background: dodgerblue; */
  /* background-color: antiquewhite; */
}

a {
  color: #fff;
  position: relative;
  z-index: 99999;
  cursor: pointer;
  text-decoration-line: none;
}

.wrap {
  /* 가로스크롤 방지 */
  /* overflow: hidden을 하면 sticky가 제대로 동작 안하는 버그가 있음 */
  /* 따라서 contain: paint를 사용 */
  contain: paint;
  /* background-color: antiquewhite; */
}

.header {
  height: 400px;
  padding: 2rem;
  display: flex;
}
.header > div:nth-child(1) {
  width: 60%;
}
.header > div:nth-child(2) {
  width: 40%;
  margin: auto;
  text-align: right;
}
.header > div > p {
  max-width: 552px;
  padding: 20px;
  /* background-color: #555555; */
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.main-copy {
  font-size: 3rem;
}

.airstrip {
  position: absolute;
  top: 0;
  width: 7px;
  height: 700px;
  margin-top: 400px;
  background: white;
}

.airstrip-a {
  left: calc(42% - 3px);
}

.airstrip-b {
  left: calc(58% - 3px);
}

.page-content {
  position: absolute;
  left: 50vw;
  top: 0;
  z-index: 100;
  width: 90%;
  height: 100%;
  line-height: 1.6;
  transform: translateX(-50%);
  /* background: rgba(255,0,0,0.5); */
}

.text-block {
  position: absolute;
  width: 50%;
}

.text-block-career {
  position: absolute;
  width: 50%;
  /* fill: black; */
  /* transform-origin: 388px 1431px;
  will-change: transform, opacity; */
  /* display: flex; */

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.text-block-career-active {
  opacity: 1;
  transform: translateY(0);
}

.text-block-career > li {
  text-indent: 5px;
  content: "•";
  font-size: 108%;
  padding-right: 5px;
}
/* .text-block-career > li::before {	  
	content: '•';   
   font-size: 108%;
	padding-right: 5px;
  } */

.text-block-career > div {
  display: flex;
}
.text-block-career > div > img {
  width: 100px;
  height: 100px;
  margin: auto;
  /* align-items: center; */
}
.text-block-education {
  position: absolute;
  width: 50%;
  padding-left: 100px;
  /* max-width: 300px; */
  text-align: right;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.text-block-education-active {
  opacity: 1;
  transform: translateY(0);
}

.text-block-project {
  position: absolute;
  width: 50%;
  font-size: 6vw;
  font-weight: bold;
}
.bounce {
  width: 20%;
  max-width: 100px;
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}

/* airplane timeline */
.airplane-scroll-timeline {
  position: relative;
  /* height: calc(4315px + 2000px - 100vh); */
  /* height: calc(3715px + 2000px - 100vh); */
  height: calc(5000px - 100vh);

  /* margin: 200px 0; */
  /* border: 10px dashed yellow; */
}

.airplane {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  transform: rotate(0deg);
  will-change: offset-distance;
  offset-distance: 100%;
  offset-rotate: auto 90deg;
  offset-path: path(
    "m523.89,4304.71v-102.65c0-380.2-349.01-699.56-349.01-699.56-444.83-376.4,250.93-486.65,250.93-486.65,444.83-102.65,557.68-250.93,557.68-250.93,283.93-319.37-486.96-646.34-486.96-646.34-258.91-112.16-314.04-296.55-314.04-296.55C-5.24,1295.45,395.39,1206.1,502.03,1255.07c65,29.84,105.64,109.85,90,179.91-35.06,157.03-234.66,151.32-234.66,151.32-287.05,0-340.67-193.9-340.67-193.9-85.15-285.15,215.21-534.18,215.21-534.18,309.81-245.7,291.98-636.53,291.98-636.53V0"
  );
}

.airplane[data-direction="up"] {
  transform: rotate(0deg);
}

.track {
  position: absolute;
  left: 50vw;
  top: 0;
  width: 1048px;
  transform: translateX(-50%);
  will-change: transform;
  /* background: rgba(255,255,0,0.2); */
}

.flight-path {
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 14;
}

.projects {
  fill: white;
  transform-origin: 388px 1431px;
  will-change: transform, opacity;
}

/* gallery-timeline */
.gallery-timeline {
  position: absolute;
  left: 3%;
  top: 2350px;
  /* top: 2550px; */
  width: 80%;
  width: 94%;
  /* min-width: 1100px; */
  /* overflow: scroll; */
  /* height: 2000px; */
  /* border: 10px dashed MediumAquaMarine; */
  /* for onclick event */
  z-index: 999;
  /* clear: both; */
}

.jeju {
  position: sticky;
  top: 0;
  width: 360px;
  margin: 0 auto;
  padding-top: 340px;
}

.gallery {
  /* display: flex; */
  align-items: center;
  /* position: sticky; */
  z-index: 10;
  top: 0;
  /* clear: both; */
  /* width: 350vw; */
  /* height: 100vh; */
  margin-top: -650px;
  /* will-change: transform, opacity; */
  /* border: 10px dashed deeppink; */

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.gallery-active {
  opacity: 1;
  transform: translateY(0);
}

.gallery-item {
  width: 50%;
  flex-shrink: 0;
  float: left;
  margin: 30px 0;
  min-width: 450px;
  /* border: 10px solid rgba(255, 255, 255, 0.3); */
  /* position: relative; */
  /* z-index: 9999; */
  /* cursor: pointer; */
}

.gallery-photo {
  overflow: hidden;
  width: 60%;
  margin: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  /* min-width: 428px; */
}
.gallery-photo > img {
  /* object-fit: fill; */
  /* width: 30%; */
}
@media (max-width: 1000px) {
  html {
    font-size: 14px;
  }

  .airstrip-a {
    left: calc(35% - 3px);
  }

  .airstrip-b {
    left: calc(65% - 3px);
  }

  .main-copy {
    font-size: 2.5rem;
  }
}

/* //버튼을 감싸는 영역 */
#btnWrap {
  width: 500px;
  margin: 100px auto;
}

/* //버튼 디자인 */
#popupBtn {
  /* width: 150px;
  height: 50px; */
  /* padding: 10px 5px; */
}

.modal {
  /* position: fixed;
  height: 600px;
  width: 100vw; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* position: sticky; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* position: relative; */
  /* height: 100vh; */
}

/* //모달팝업을 감싸고 있는 최상위 부모 */
#modalWrap {
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  /* padding-top: 100px; Location of the box */
  /* margin: auto; */
  left: 0;
  top: 0;
  /* right: 50%; */
  width: 100vw; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  /* background-color: rgba(0, 0, 0, 0.4); Black w/ opacity */

  /* margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

/* //모달 팝업창 */
#modalBody {
  min-width: 800px;
  /* min-height: 800px; */
  padding: 30px 30px;
  /* margin: 0 auto; */
  border: 1px solid #777;
  background-color: #fff;
  /* top: 50%; */
  /* position: absolute; */
  margin: auto;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 50%);
  /* transform: translate(-50%, -50%); */
  top: 30%;
  /* right: 50%; */
  -ms-transform: translateY(-50%);
  /* transform: translateY(-50%); */
  border-radius: 30px;
  border: none;

  color: black;
}
#content {
  display: flex;
}

#content > div:nth-child(2) {
  width: 40%;
  height: 80%;
  margin: auto;
}
#content > div > p > a {
  text-decoration-line: none;
  color: black;
  font-size: 16px;
  border-radius: 8px;
  margin: 0 10px;
  /* padding: 3px;
  margin: 3px;
  background-color: darkgray; */
  /* text-align: center; */
  /* margin: auto; */
}
#content > div > p > a > img {
  width: 20px;
}

#content > div > p > img {
  max-height: 500px;
}
.carousel-container {
  position: relative;
  overflow: hidden;
  width: 600px; /* Adjust the width as needed */
  /* margin-right: 10px; */
  border-radius: 10px;
  margin: auto;
}

.carousel-slide {
  width: 600px; /* Adjust the width as needed */
  /* max-height: 500px; */
  /* margin: auto; */
  align-items: center;
  /* border-radius: 10px; */
  /* width: 300px; /* Adjust the width as needed */
  /* height: auto; */
  border-radius: 10px;
}

.carousel {
  display: flex;

  /* flex-wrap: wrap; */

  /* display: flex; */
  transition: transform 0.3s ease-in-out;
}
.carousel-text {
  width: 90% !important;
  padding-top: 20px;
  max-width: 600px;
}
/* #content > div:nth-child(2) > p {
} */

#content > div:nth-child(2) > p > span {
  font-size: 14px;
  /* flex-wrap: wrap; */
  display: inline-block;
  /* display: flex; */
  /* height: 100px; */
  /* border: 1px solid; */
  border-radius: 8px;
  padding: 5px;
  margin: 3px;
  /* margin-bottom: 10px; */
}
#content > div:nth-child(2) > span {
  font-size: 14px;
  display: inline-block;
  padding: 5px;
}
#content > div:nth-child(2) > p:nth-child(1) > span {
  color: #fff;
}
#modalBody > div > div > div > h1 {
  padding-left: 30px;
}

/* //닫기 버튼 */
#closeBtn {
  float: right;
  font-weight: bold;
  color: #777;
  font-size: 25px;
  cursor: pointer;
  /* position: relative;
  z-index: 99999; */
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  /* transform: translate(-50%, -50%); Center horizontally and vertically */
  /* display: none; */
  /* background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px 16px; */
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 999;
  /* height: 40px; */
}

.prev-button {
  left: 0;
}
.prev-button > img {
  left: 0;
  top: 0;
  content: "";
  width: 30px; /* 사이즈 */
  height: 30px; /* 사이즈 */
  animation: bounce 2s ease infinite;

  /* top: 50%; */
  /* align-items: center; */
}

.next-button > img {
  /* position: absolute; */
  left: 0;
  top: 0;
  content: "";
  width: 30px; /* 사이즈 */
  height: 30px; /* 사이즈 */
  /* transform: rotate(90deg); */
  animation: bounce 2s ease infinite;

  /* margin: auto; */
}

.next-button {
  right: 0;
}

.text-block-description {
  /* width: 300px;
  height: 300px; */
  /* padding: 50px; */
  /* position: absolute; */
  /* width: 80%; */
  /* height: 300px; */
  /* background-color: red; */
  /* bottom: -200px; */
  /* top: calc(2350px + 100vh); */
  margin-top: 100px;
  display: flex;
  float: right;
  /* bottom: 300px; */
  /* margin-top: 1200px; */
  /* margin: auto; */
  /* overflow: auto; */
}
.text-block-description > div:first-child > div {
  /* margin: auto; */
  text-align: center;
}
.text-block-description > div:first-child > div > img {
  /* width: 50%; */
  width: 80px;
  margin: 16px;
  cursor: pointer;
  /* align-items: center; */
  /* text-align: center; */
}
.text-block-description > div:nth-child(2) > img {
  width: 80%;
}
